<div class="container">
  <div class="row form-group">
    <div class="col">
      <div class="card bg-dark text-primary">
        <div class="card-header">
          Personal Details
        </div>
        <div class="card-body">          
          <app-personal-details></app-personal-details>
        </div>
      </div>      
    </div>    
    <div class="col">
      <div class="card bg-warning text-primary">
            <div class="card-header">
              Contact Details
            </div>
            <div class="card-body">
              <app-contact-details></app-contact-details>
            </div>
      </div>      
    </div>
  </div>  
  <div class="row form-group">
    <div class="col">
      <app-education-details></app-education-details>      
    </div>
  </div>
</div>